<form action="/partida/nuevo" method="POST">

    <label for="no_partida">Numero de Partida</label>
    <input class="" type="text" name="no_partida">

    <label for="descripcion">Descripcion</label>
    <input class="" type="text" name="descripcion" required>

    <label for="presupuesto_inicial">Presupuesto Inicial</label>
    <input class="" type="text" name="presupuesto_inicial">

    <label for="egresos">Egresos</label>
    <input class="" type="text" name="egresos">

    <label for="presupuesto_actual">Presupuesto Actual</label>
    <input class="" type="text" name="presupuesto_actual">

    <button>Guardar</button>
</form>