<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="contenido miperfil">
                <div class="section__imagen">
                    <img src="/img/Hi.png" alt="Logo" width="85%" id="perfil">
                </div>
                <div class="section__datos">
                    <h1>¡BIENVENIDO!</h1>
                    <h3 style="margin-top: 15px;">{{user.nombre_completo}}</h3>
                    <h4>Usuario: {{user.usuario}}</h4>
                    <hr>
                    <div class="manual">
                        <h5>Descargar manual</h5>
                        <a href="#" download=""><img src="/img/pdf.png" alt="manual" width="60px"></a>  
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>