@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --Alegreya: 'Alegreya', serif;
    --Lato: 'Lato', sans-serif;
    --color-one: #30343F;
    --color-two: #FAFAFF;
    --color-three: #E4D9FF;
    --color-four: #273469;
    --color-five: #1E2749;
}

.container-fluid{
    display: flex;
    padding: 0;
    margin: 0;
}

.grid__login,
.content{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(217,237,253,1) 49%, rgba(217,237,253,1) 100%);
}

h1, h2, h3{
    font-family: var(--Alegreya);
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    margin: 1rem 0;
    width: 12rem;
    padding: 0.5rem;
    font-size: medium;
    font-family: var(--Alegreya);
    color: var(--color-two)
}

.boton.azul{
    background: var(--color-five);
}

.boton.azul:hover{
    background: var(--color-two);
    color: var(--color-five);
    transition: 0.5s;
}


@media screen and (min-width: 1024px) {
    /* LogIn y SignIn */
    .grid__login{
        display: grid;
        height: 100vh;
        place-items: center;
    }

    .section__login{
        background-color: var(--color-two);
        border: var(--color-five) 0.4rem solid;
        box-shadow:
            1.5rem 1.5rem 0 -0.4rem var(--color-two),
            1.5rem 1.5rem var(--color-five);
        width: 40rem;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__form{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .section__form .alert{
        position: absolute;
        top: 13rem;
        margin-bottom: 0;
    }

    .form__link{
        color: var(--color-five);
        font-family: var(--Alegreya);
        font-size: medium;
        font-weight: 500;
        text-align: center;
    }

    .form__link a,
    .form__link a:active,
    .form__link a:hover{
        color: var(--color-five);
        text-decoration: none;
    }

    .grid{
        display: grid;
        grid-template-columns: auto 94.2%;
        grid-template-rows: 1fr;
        grid-template-areas:"menu contenido";
    }

    .content{
        height: 100vh;
        width: 100%;
        grid-area: contenido;
        padding: 1rem;

    }

    .sidebar{
        height: 100vh;
        width: 6rem;
        background-color: var(--color-five);
        transition: width 0.3s;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        grid-area: menu;
    }
    
    .sidebar:hover{
        width: auto;
        overflow: visible;
    }

    .brand{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand img{
        width: 60px;
        height: auto;
    }

    nav{
        height: 60vh;
        min-height: 30rem;
        position: relative;
        top: 50%;
        margin-top: -40vh;
    }

    nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
    }

    .nav__link{
        width: 16rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        padding: 1rem 0;
        color: var(--color-two);
    }

    .nav__link:hover{
        background-image: linear-gradient(left, #2a88e6 0.7rem, rgba(255, 255, 255, 0.1) 0.7rem);
        background-image: linear-gradient(to right, #2a88e6 0.7rem, rgba(255, 255, 255, 0.1) 0.7rem);
        color: var(--color-two);
    }

    .nav__icon{
        font-size: 1.8rem;
        text-align: right;
        color: var(--color-two);
    }

    .nav__text{
        width: 7.5rem;
        font-size: 1.4rem;
        text-align: left;
        letter-spacing: 0.3px;
        font-weight: 400;
        font-family: var(--Alegreya);
        margin-bottom: 0;
    }

    .section{
        width: 100%;
    }
}
