<div class="sidebar">
    <div class="brand">
        <img src="/img/logo.png" alt="logo">
    </div>
    <nav>
        <ul>
            <li>
                <a class="nav__link" href="">
                    <i class="nav__icon fa-solid fa-user"></i>
                    <p class="nav__text">Mi Perfil</p>
                </a>
            </li>
            <li>
                <a class="nav__link" href="">
                    <i class="nav__icon fa-solid fa-book"></i>
                    <p class="nav__text">Partidas</p>
                </a>
            </li>
            <li>
                <a class="nav__link" href="">
                    <i class="nav__icon fa-solid fa-truck"></i>
                    <p class="nav__text">Proveedores</p>
                </a>
            </li>
            <li>
                <a class="nav__link" href="">
                    <i class="nav__icon fa-solid fa-file-contract"></i>
                    <p class="nav__text">Contratos</p>
                </a>
            </li>
            <li>
                <a class="nav__link" href="">
                    <i class="nav__icon fa-solid fa-money-check-dollar"></i>
                    <p class="nav__text">Solicitud de Pago</p>
                </a>
            </li>
        </ul>
    </nav>
</div>