<div class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <p>Mi Perfil</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <p>Proveedores</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <p>Mi Perfil</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <p>Mi Perfil</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <p>Mi Perfil</p>
                </a>
            </li>
        </ul>
    </nav>
</div>