<header>
    <div class="icon__menu">
        <i class="fas fa-bars" id="btn__open"></i>
    </div>
    <h3>Comunicación Social y Eventos Especiales</h3>
</header>
<div class="menu__side" id="menu__side">
    <div class="name__page">
        <img src="/img/logo.png" alt="Logo" width="60px" height="auto">
    </div>
    <div class="options__menu">
        <a href="/miperfil" class="selected">
            <div class="option">
                <i class="fa-solid fa-user" title="Mi Perfil"></i>
                <h4>Mi Perfil</h4>
            </div>
        </a>
        <a href="/partida">
            <div class="option">
                <i class="fa-solid fa-book" title="Partidas"></i>
                <h4>Partidas</h4>
            </div>
        </a>
        <a href="/proveedor">
            <div class="option">
                <i class="fa-solid fa-truck" title="Proveedores"></i>
                <h4>Proveedores</h4>
            </div>
        </a>
        <a href="/contrato">
            <div class="option">
                <i class="fa-solid fa-file-contract" title="Contratos"></i>
                <h4>Contratos</h4>
            </div>
        </a>
        <a href="/solicitud_pago">
            <div class="option">
                <i class="fa-solid fa-money-check-dollar" title="Solicitudes de Pago"></i>
                <h4>Solicitudes de Pago</h4>
            </div>
        </a>
        <a href="/logout">
            <div class="option">
                <i class="fa-solid fa-arrow-right-from-bracket" title="Cerrar Sesión"></i>
                <h4>Cerrar Sesión</h4>
            </div>
        </a>
    </div>
</div>