<form action="/solicitud_pago/nuevo" method="POST">

    <label for="no_folio">Numero de Folio</label>
    <input class="" type="text" name="no_folio">

    <label for="fecha">Fecha</label>
    <input class="" type="date" name="fecha" required>

    <label for="importe">Importe</label>
    <input class="" type="text" name="importe">

    <label for="concepto">Concepto</label>
    <input class="" type="text" name="concepto">

    <label for="partida_id">Partida</label>
    <input class="" type="text" name="partida_id">

    <label for="proveedor_id">Proveedor</label>
    <input class="" type="text" name="proveedor_id">

    <button>Guardar</button>
</form>