<form action="/proveedor/nuevo" method="POST">
    <label for="nombre">Nombre</label>
    <input class="" type="text" name="nombre">

    <label for="razon_social">Razon Social</label>
    <input class="" type="text" name="razon_social">

    <label for="rfc">RFC</label>
    <input class="" type="text" name="rfc">

    <label for="domicilio">Domicilio</label>
    <input class="" type="text" name="domicilio">

    <label for="codigo_postal">Codigo Postal</label>
    <input class="" type="text" name="codigo_postal">

    <label for="email">Correo Electrónico</label>
    <input class="" type="email" name="email">

    <button>Guardar</button>
</form>