<div>
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre_completo" autofocus autocomplete="off">
        </div>
        <div class="form-group">
            <label for="nombre">Usuario</label>
            <input type="text" name="usuario" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="nombre">Contraseña</label>
            <input type="password" name="contrasena" autocomplete="off">
        </div>
        <div class="form-group">
            <button>Registrarse</button>
        </div>
    </form>
</div>