<div class="section__login" id="login">
    <div id="login__titulo">
        <h3 style="margin: 1rem 0;">Presidencia Municipal de Celaya</h3>
    </div>
    <div id="login__contenido">
        <div class="section__imagen">
            <img src="/img/logo.png" alt="Logo" width="300px" height="300px">
        </div>
        <div class="section__form">
            <form action="/signin" method="POST">
                {{> alerta }} 
                <div class="form-group">
                    <input class="section__form__input" type="text" name="usuario" autocomplete="off" required>
                    <label for="usuario" class="section__form__label">
                        <span class="section__form__span">Usuario</span>
                    </label>
                </div>
                <div class="form-group">
                    <input class="section__form__input" type="password" name="contrasena" autocomplete="off" required>
                    <label for="contrasena" class="section__form__label">
                        <span class="section__form__span">Contraseña</span>
                    </label>
                </div>
                <div class="form-group">
                    <button class="boton azul">Iniciar Sesión</button>
                </div>
                <p class="form__link"><a href="/signup">Registrarse</a></p>
            </form>
        </div>
    </div>
</div>